@import '../../sass/App.scss';

.Header {
  background-repeat: no-repeat!important;
  color: #fff;
  background-size: cover;
    nav {
      position: relative;
      top: 30px;
      left: 148px;
      width: 500px;
      white-space: nowrap;
      @media(max-width: 800px) {
        left: 74px;
        width: 300px;
      }
      .menu-toggle {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;
        z-index: 1001;
      
        .bar {
          width: 100%;
          height: 4px;
          background-color: #fff;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
      
        &.open {
          .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
      
          .bar:nth-child(2) {
            opacity: 0;
          }
      
          .bar:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }
      }          
      >a {
        color: #fff;
      }
    }
    .Header_title {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      >h1,h2 {
        text-align: center;
      }
      .beans_white {
        margin-bottom: 13px;
      }
      >button {
        border-radius: 3px;
        border: 1px solid #FFF;
        color: #fff;
        background: transparent;
        width: 120px;
        height: 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }
    }
}