.Footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width: 480px) {
        height: 350px;
    }
    nav {
        margin-bottom: 20px;
        @media(max-width: 480px) {
            flex-direction: column;
            height: 250px;
            margin-bottom: 0px;
        }
        >a {
            color: #000;
        }
    }
}